<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TgoodsinfoMapper">

	<sql id="tgoodsinfo"> t_goods_info </sql>

	<sql id="base_column">
            id,
            code,
            amout,
            version
	</sql>

	<resultMap id="beanMap" type="Tgoodsinfo">
		<id column="id" property="id" />
		<result column="code" property="code" />
		<result column="amout" property="amout" />
		<result column="version" property="version" />
	</resultMap>

    <!-- 插入 -->
    <insert id="save" parameterType="Tgoodsinfo">
        insert into <include refid="tgoodsinfo"/>  (
                id,
                code,
                amout,
                version
        ) values (
                #{id},
                #{code},
                #{amout},
                #{version}
        )
    </insert>
	<!-- 数据库乐观锁基于版本号实现并发控制 -->
    <update id="updateOfVersion" parameterType="Tgoodsinfo">
        update <include refid="tgoodsinfo"/>
        <set>
             amout = amout-#{buys}, version = version + 1
        </set>
        <where>
             code = #{code} and version = #{version}
        </where>
    </update>
    <!-- 数据库乐观锁基于状态实现并发控制 -->
    <update id="updateOfStatus" parameterType="Tgoodsinfo">
        update <include refid="tgoodsinfo"/>
        <set>
            amout = amout-#{buys}
        </set>
        <where>
            code = #{code} and amout-#{buys} >=0
        </where>
    </update>

    <!-- 不加锁的方法实现 -->
    <update id="updateAmout">
        update <include refid="tgoodsinfo"/>
        <set>
            amout = amout-#{buys}
        </set>
        <where>
            code = #{code}
        </where>
    </update>
    <!--获取商品库存-->
    <select id="get" parameterType="int" resultMap="beanMap">
        select <include refid="base_column"/>
        from   <include refid="tgoodsinfo"/>
        <where>
                code = #{code}
        </where>
    </select>

    <!--查询所有-->
    <select id="findAll" parameterType="int" resultMap="beanMap">
        select <include refid="base_column"/>
        from   <include refid="tgoodsinfo"/>
    </select>

    <!--删除-->
    <delete id="delete" parameterType="int" flushCache="true">
        DELETE FROM <include refid="tgoodsinfo"/>
        <where>
                id = #{id}
        </where>
    </delete>

</mapper>