<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <title th:utext="${title}">title</title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">
    <script src="http://libs.baidu.com/jquery/1.8.3/jquery.js"></script>
</head>
<body>
<div>
    <h1>AJAX短轮询</h1>
    <h2 id="h2Id"></h2>
</div>
</body>
<script type="text/javascript">
    $(function() {

        setInterval(function(){
            var formData = new FormData();
            formData.append("name","短轮询");
            $.ajax({
                url : '/process',
                type : 'POST',
                data : formData,
                processData : false, //告诉jQuery不要去处理发送的数据
                contentType : false,
                beforeSend:function(){
                    console.log("正在进行，请稍候");
                },
                success : function(responseStr) {
                    $("#h2Id").html(responseStr);
                },
                error : function(responseStr) {
                    console.log("error");
                }

            })

        }, 1000);
    })

</script>
</html>