<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <title th:utext="${title}">title</title>
    <script type="text/javascript" src="js/jquery-1.8.0.min.js"></script>
</head>
<body>
<div>
    <h2 id="h2Id"></h2>
</div>
</body>
<script type="text/javascript">
    $(function() {

        setInterval(function(){
            var formData = new FormData();
            formData.append("name","短轮询");

            var params = "{name:'allen'}";

            $.ajax({
                url : '/process',
                type : 'GET',
                data : params,
                async : false,
                cache : false,
                contentType : "application/json",

                beforeSend:function(){
                    console.log("正在进行，请稍候");
                },
                success : function(responseStr) {
                    $("#h2Id").html(responseStr);
                },
                error : function(responseStr) {
                    console.log("error");
                }

            })

        }, 1000);
    })

</script>
</html>